USE [master]
GO
/****** Object:  Database [BranchManagement]    Script Date: 07/04/2026 00:24:20 ******/
CREATE DATABASE [BranchManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BranchManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\BranchManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BranchManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\BranchManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BranchManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BranchManagement]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 07/04/2026 00:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[attendance_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[branch_id] [int] NOT NULL,
	[check_in] [datetime] NULL,
	[check_out] [datetime] NULL,
	[working_hours] [float] NULL,
	[total_hours] [decimal](5, 2) NULL,
	[status] [varchar](50) NULL,
	[created_at] [datetime] NULL,
	[checkIn] [datetime2](6) NULL,
	[checkOut] [datetime2](6) NULL,
	[createdAt] [datetime2](6) NULL,
	[totalHours] [numeric](5, 2) NULL,
	[distance] [float] NULL,
	[latitude] [float] NULL,
	[longitude] [float] NULL,
	[photo_url] [varchar](500) NULL,
	[reject_reason] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[attendance_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branch]    Script Date: 07/04/2026 00:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch](
	[branch_id] [int] IDENTITY(1,1) NOT NULL,
	[branch_code] [varchar](20) NOT NULL,
	[branch_name] [nvarchar](100) NOT NULL,
	[address] [nvarchar](255) NULL,
	[latitude] [numeric](10, 8) NULL,
	[longitude] [numeric](11, 8) NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[branch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[branch_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Camera]    Script Date: 07/04/2026 00:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Camera](
	[camera_id] [int] IDENTITY(1,1) NOT NULL,
	[camera_name] [nvarchar](100) NOT NULL,
	[branch_id] [int] NOT NULL,
	[stream_url] [varchar](500) NOT NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[camera_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 07/04/2026 00:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_code] [varchar](50) NOT NULL,
	[category_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[parent_id] [int] NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[category_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory_Request]    Script Date: 07/04/2026 00:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory_Request](
	[request_id] [int] IDENTITY(1,1) NOT NULL,
	[branch_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[request_type] [nvarchar](50) NOT NULL,
	[quantity] [int] NOT NULL,
	[reason] [nvarchar](500) NULL,
	[status] [nvarchar](20) NULL,
	[reject_reason] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Leave_Request]    Script Date: 07/04/2026 00:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leave_Request](
	[leave_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[branch_id] [int] NOT NULL,
	[leave_type] [nvarchar](50) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[reason] [nvarchar](500) NULL,
	[status] [nvarchar](20) NULL,
	[reject_reason] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[leave_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 07/04/2026 00:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[content] [nvarchar](max) NULL,
	[type] [varchar](50) NULL,
	[priority] [varchar](20) NULL,
	[action_url] [varchar](255) NULL,
	[is_read] [bit] NULL,
	[recipient_id] [int] NOT NULL,
	[created_at] [datetime] NULL,
	[expires_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 07/04/2026 00:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NULL,
	[product_code] [varchar](50) NOT NULL,
	[product_name] [nvarchar](200) NOT NULL,
	[unit] [nvarchar](50) NULL,
	[price] [decimal](18, 2) NULL,
	[barcode] [varchar](100) NULL,
	[sku] [varchar](100) NULL,
	[image_url] [nvarchar](500) NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[product_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[barcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[sku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shift]    Script Date: 07/04/2026 00:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shift](
	[shift_id] [int] IDENTITY(1,1) NOT NULL,
	[branch_id] [int] NOT NULL,
	[shift_name] [nvarchar](100) NOT NULL,
	[shift_type] [varchar](50) NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[date] [date] NOT NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
	[created_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[shift_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock]    Script Date: 07/04/2026 00:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[stock_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[branch_id] [int] NOT NULL,
	[quantity] [decimal](18, 2) NULL,
	[reserved_quantity] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[stock_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_Stock_BranchProduct] UNIQUE NONCLUSTERED 
(
	[branch_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockTransaction]    Script Date: 07/04/2026 00:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockTransaction](
	[transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[transaction_code] [varchar](50) NOT NULL,
	[transaction_type] [varchar](50) NOT NULL,
	[product_id] [int] NOT NULL,
	[from_branch_id] [int] NULL,
	[to_branch_id] [int] NULL,
	[quantity] [decimal](18, 2) NOT NULL,
	[unit_price] [decimal](18, 2) NULL,
	[reason] [nvarchar](500) NULL,
	[note] [nvarchar](1000) NULL,
	[attachment_url] [varchar](500) NULL,
	[status] [varchar](50) NULL,
	[created_by] [int] NULL,
	[approved_by] [int] NULL,
	[approved_at] [datetime] NULL,
	[rejected_by] [int] NULL,
	[rejected_at] [datetime] NULL,
	[rejection_reason] [nvarchar](500) NULL,
	[expected_date] [date] NULL,
	[actual_date] [datetime] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[request_id] [int] NULL,
	[transfer_request_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[transaction_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemAuditLog]    Script Date: 07/04/2026 00:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemAuditLog](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[action] [varchar](255) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[method_signature] [varchar](255) NULL,
	[request_data] [nvarchar](max) NULL,
	[status] [varchar](255) NULL,
	[user_id] [int] NULL,
	[username] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemConfig]    Script Date: 07/04/2026 00:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemConfig](
	[config_id] [int] IDENTITY(1,1) NOT NULL,
	[config_key] [varchar](50) NOT NULL,
	[config_value] [varchar](200) NOT NULL,
	[description] [nvarchar](200) NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[config_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[config_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransferRequest]    Script Date: 07/04/2026 00:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransferRequest](
	[request_id] [int] IDENTITY(1,1) NOT NULL,
	[request_code] [varchar](50) NULL,
	[product_id] [int] NOT NULL,
	[from_branch_id] [int] NULL,
	[to_branch_id] [int] NULL,
	[quantity] [numeric](18, 2) NULL,
	[reason] [nvarchar](500) NULL,
	[priority] [varchar](20) NULL,
	[expected_date] [date] NULL,
	[status] [varchar](50) NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[request_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 07/04/2026 00:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[role] [varchar](20) NOT NULL,
	[branch_id] [int] NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserShift]    Script Date: 07/04/2026 00:24:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserShift](
	[user_shift_id] [int] IDENTITY(1,1) NOT NULL,
	[shift_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[status] [varchar](20) NULL,
	[note] [nvarchar](500) NULL,
	[assigned_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_shift_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Attendance] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Branch] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[Branch] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Camera] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[Camera] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Inventory_Request] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[Inventory_Request] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Leave_Request] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[Leave_Request] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [price]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [quantity]
GO
ALTER TABLE [dbo].[Shift] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[Shift] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Stock] ADD  DEFAULT ((0)) FOR [quantity]
GO
ALTER TABLE [dbo].[Stock] ADD  DEFAULT ((0)) FOR [reserved_quantity]
GO
ALTER TABLE [dbo].[StockTransaction] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[StockTransaction] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[StockTransaction] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[SystemConfig] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[TransferRequest] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[TransferRequest] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[TransferRequest] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ('EMPLOYEE') FOR [role]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[UserShift] ADD  DEFAULT ('assigned') FOR [status]
GO
ALTER TABLE [dbo].[UserShift] ADD  DEFAULT (getdate()) FOR [assigned_at]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([branch_id])
REFERENCES [dbo].[Branch] ([branch_id])
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Camera]  WITH CHECK ADD FOREIGN KEY([branch_id])
REFERENCES [dbo].[Branch] ([branch_id])
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD FOREIGN KEY([parent_id])
REFERENCES [dbo].[Category] ([category_id])
GO
ALTER TABLE [dbo].[Inventory_Request]  WITH CHECK ADD FOREIGN KEY([branch_id])
REFERENCES [dbo].[Branch] ([branch_id])
GO
ALTER TABLE [dbo].[Inventory_Request]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Inventory_Request]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Leave_Request]  WITH CHECK ADD FOREIGN KEY([branch_id])
REFERENCES [dbo].[Branch] ([branch_id])
GO
ALTER TABLE [dbo].[Leave_Request]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD FOREIGN KEY([recipient_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([category_id])
GO
ALTER TABLE [dbo].[Shift]  WITH CHECK ADD FOREIGN KEY([branch_id])
REFERENCES [dbo].[Branch] ([branch_id])
GO
ALTER TABLE [dbo].[Shift]  WITH CHECK ADD  CONSTRAINT [FKdj7atugp9ivok0djokujc4qum] FOREIGN KEY([created_by])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Shift] CHECK CONSTRAINT [FKdj7atugp9ivok0djokujc4qum]
GO
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD FOREIGN KEY([branch_id])
REFERENCES [dbo].[Branch] ([branch_id])
GO
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[StockTransaction]  WITH CHECK ADD FOREIGN KEY([approved_by])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[StockTransaction]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[StockTransaction]  WITH CHECK ADD FOREIGN KEY([from_branch_id])
REFERENCES [dbo].[Branch] ([branch_id])
GO
ALTER TABLE [dbo].[StockTransaction]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[StockTransaction]  WITH CHECK ADD FOREIGN KEY([rejected_by])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[StockTransaction]  WITH CHECK ADD FOREIGN KEY([request_id])
REFERENCES [dbo].[TransferRequest] ([request_id])
GO
ALTER TABLE [dbo].[StockTransaction]  WITH CHECK ADD FOREIGN KEY([to_branch_id])
REFERENCES [dbo].[Branch] ([branch_id])
GO
ALTER TABLE [dbo].[StockTransaction]  WITH CHECK ADD  CONSTRAINT [FK3ca7fvl5weu40xgp8tup9adb5] FOREIGN KEY([transfer_request_id])
REFERENCES [dbo].[TransferRequest] ([request_id])
GO
ALTER TABLE [dbo].[StockTransaction] CHECK CONSTRAINT [FK3ca7fvl5weu40xgp8tup9adb5]
GO
ALTER TABLE [dbo].[TransferRequest]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[TransferRequest]  WITH CHECK ADD FOREIGN KEY([from_branch_id])
REFERENCES [dbo].[Branch] ([branch_id])
GO
ALTER TABLE [dbo].[TransferRequest]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[TransferRequest]  WITH CHECK ADD FOREIGN KEY([to_branch_id])
REFERENCES [dbo].[Branch] ([branch_id])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([branch_id])
REFERENCES [dbo].[Branch] ([branch_id])
GO
ALTER TABLE [dbo].[UserShift]  WITH CHECK ADD FOREIGN KEY([shift_id])
REFERENCES [dbo].[Shift] ([shift_id])
GO
ALTER TABLE [dbo].[UserShift]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
USE [master]
GO
